/* Navigation */
.navigation {
  background: #44475A;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px 10px;
  width: 140px;
  font-family: "Arial","Helvetica","sans-serif";
}

.navigation a:hover {
  text-decoration: none;
}

.navigation p {
  font-size: 10px;
  margin-bottom: 20px;
}

.navigation i {
  border-radius: 10%;
  font-size: 12px;
  color: #44475A;
  box-sizing: border-box;
  padding: 4px 0;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
}

.fa-wrench {
  background: #66D9EF;
}

.settings {
  color: #66D9EF;
}

.fa-code {
  background: #7cf458;
}

.gists {
  color: #7cf458;
}

.fa-stack-overflow {
  background: #f4c20c;
}

.stack-overflow {
  color: #f4c20c;
}

.fa-chart-line {
  background: #FF79C6;
}

.trending {
  color: #FF79C6;
}

.fa-pencil-alt {
  background: #cb85db;
}

.scratch-pad {
  color: #cb85db;
}

.fa-lightbulb {
  background: white;
}

.playground {
  color: white;
}

i.fa-lock {
  color: white;
  margin-right: 0;
}

.fa-question {
  background: #F1FA8C;
}

.help {
  color: #F1FA8C;
}

.initab-logo {
  max-width: 100px;
  height: auto;
  position: absolute;
  bottom: 56px;
  left: 18px;
}

i.social {
  color: white;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 6px;
  font-size: 11px;
  position: absolute;
  bottom: 18px;
}

.fa-facebook-f{
  background: #5D7CB3;
  left: 10px;
}

.fa-linkedin-in{
  background: #0077B5;
  left: 42px;
}

.fa-twitter {
  background: #1C9CE7;
  left: 74px;
}

i.fa-github {
  color: white;
  font-size: 23px;
  position: absolute;
  bottom: 25px;
  left: 106px;
}

/* Content */

.row {
  background: #272936;
  margin-left: 140px;
  margin-right: 0;
}

.left, .center, .right {
  padding-top: 40px;
  height: 100vh;
}

.left {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.left::-webkit-scrollbar {
  display: none;
}

.description {
  color: #a9e7fc;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.description > i {
  background: #272936;
  color: #a9e7fc;
  font-size: 16px;
  margin-right: 5px;
}

.content-font {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
}

/* Reddit News Feed */

.reddit-feed {
  border-style: none none none solid;
  border-left-color: #44475A;
  margin-left: 5px;
  margin-bottom: 30px;
  padding-left: 10px;
}

.reddit-feed:hover {
  border-left-color: #7cf458;
}

.feed-link {
  text-decoration: none;
}

.feed-link:hover {
  text-decoration: none;
}

.feed-link p {
  margin-bottom: 0;
}

.feed-title {
  color: white;
}

.posted-by {
  color: #66D9EF;
}

.feed-author {
  color: #F1FA8C;
}

.feed-score {
  color: #6272A4;
}

.feed-comments {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  color: #FF79C6;
  text-decoration: underline;
}

.feed-comments:hover {
  color: #66D9EF;
}

/* Javascript History */

.javascript-history {
  border-style: none none solid none;
  border-bottom-color: #44475A;
  border-width: thin;
  height: 47%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.javascript-history::-webkit-scrollbar {
  display: none;
}

.js-history {
  margin-bottom: 20px;
}

.history-link {
  color: #6272A4;
  text-decoration: none;
}

.history-link:hover {
  color: #F1FA8C;
  text-decoration: none;
}

.history-favicon {
  border-style: solid;
  border-width: thin;
  border-radius: 15%;
  border-color: #7cf458;
  background: white;
  margin-right: 10px;
}

.history-time {
  color: #999999;
  float: right;
}

/* Date-Time */

.date-time {
  color: #6272A4;
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.time {
  font-size: 120px;
  margin-bottom: 0;
  height: 150px;
}

.am-pm {
  font-size: 32px;
}

.date {
  font-size: 20px;
}

.date-time i {
  background: #FFB86C;
  border-radius: 50%;
  color: #272936;
}

.date-time i.fa-question {
  font-size: 12px;
  padding: 2px;
  width: 16px;
  height: 16px;
  vertical-align: top;
}

.hint {
  font-size: 12px;
  margin-bottom: 5px;
}

.date-time button {
  border: none;
  background: #272936;
  color: #FFB86C;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
}

.date-time button:focus {
  outline: none;
}

.fa-times {
  font-size: 7px;
  padding: 2px;
  width: 11px;
  height: 11px;
  vertical-align: text-top;
}

.hidden {
  visibility: hidden;
}

/* Git  */

.git-history {
  border-style: none none solid none;
  border-bottom-color: #44475A;
  border-width: thin;
  text-align: center;
  height: 85%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.git-history::-webkit-scrollbar {
  display: none;
}

.git-history .description {
  margin-bottom: -5px;
}

.switch-git {
  border: none;
  background: #272936;
  color: #6272A4;
  font-size: 12px;
  padding: 0;
}

.switch-git:hover {
  color: #F1FA8C;
}

.switch-git:focus {
  outline: none;
}

.issues-pull-merge {
  margin-top: 15px;
  margin-bottom: 20px;
}

.issues-pull-merge button {
  border: none;
  background: #272936;
  font-size: 14px;
  padding: 0 5px 0 5px;
}

.issues-pull-merge button:focus {
  outline: none;
}

.issues-pull-merge button p {
  margin-bottom: -10px;
}

.issues {
  color: #F1FA8C;
}

.pull-merge {
  color: #FF79C6;
}

.pull-merge:hover {
  color: #7cf458;
}

.fa-caret-up {
  font-size: 11px;
}

.issues-caret {
  color: #F1FA8C;
}

.pull-merge-caret {
  color: #FF79C6;
}

.hidden-caret {
  color: #272936;
}

.git-entry {
  border-style: none none none solid;
  border-left-color: #44475A;
  margin: 0 20px 30px 0;
  text-align: left;
}

.git-entry:hover {
  border-left-color: #7cf458;
}

.git-entry a:hover {
  text-decoration: none;
}

.git-entry p {
  padding-left: 10px;
  margin-bottom: 0;
}

.issue-repo, .request-repo {
  color: #6272A4;
}

.issue-number {
  color: #F1FA8C;
}

.request-number {
  color: #FF79C6;
}

.issue-title, .request-title {
  color: white;
}

/* Ads */
.ads {
  border-style: none none none solid;
  border-left-color: #44475A;
  margin-top: 20px;
  height: 10%;
}
